* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    padding-top: 150px;
    background-color: #BACDDB;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    height: 100px;
    margin-right: 10px;
}

header h1 {
    font-size: 36px;
    color: #45398C;
}

.container {
    max-width: 645px;
    width: 100%;
    margin: 0 auto;
}

form {
    max-width: 640px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;    
}

form input{
    border: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    border-radius: 15px;
    width: 245px;
}

input::placeholder {
    color: #45398C;
}

input:focus {
    outline: 0;
}

form button {
    border:none;
    background-color: #45398C;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    border-radius: 15px;
    cursor: pointer; 
    width: 127px;   
}

form button:hover {
    background-color: #5b4bb8;
}

table {
    width: 100%;
}

table th {
    font-size: 18px;
    color: #45398C;
    padding: 8px 0 4px 0;
    border-bottom: solid 2px #45398C;
}

table td {
    text-align: center;
    font-size: 14px;
    color: #1F1B37;
    font-weight: bold;
    border-bottom: solid 1px rgba(69, 57, 140, 0.3);
    padding: 15px 0 10px 0;
}




